PORT=8787
XHS_COOKIE_STRING="a1=VALUE; web_session=VALUE; webId=VALUE"
XHS_DETAIL_INTERVAL_SEC=60
XHS_DETAIL_JITTER_PCT=50
XHS_DAILY_READ_BUDGET=0
XHS_JOB_CONCURRENCY=2
XHS_MAX_JOB_CONCURRENCY=2
XHS_MEDIA_AUTO_REFRESH=false
XHS_AUTO_RESUME_JOBS=false
XHS_SEARCH_INTERVAL_SEC=15
XHS_SEARCH_JITTER_PCT=70
XHS_WORKER_STAGGER_SEC=12
